{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Video List</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
<style>
            h1 a {
            color: white;
            text-decoration: none;
        }
    body {
    background-color: grey;
    }
    a {
    text-decoration: none;
    color: black;
    }
</style>
    <header>
        <h1><a href="{% url 'home' %}">YouTube</a></h1>
        {% if user.is_authenticated %}
        <a href="{% url 'profile' %}"><i class="fa fa-commenting-o"></i> {{ user.username }}</a>
        {% else %}
        <a href="{% url 'signup' %}"><i class="fa fa-commenting-o"></i> Sign Up</a>
        <a href="{% url 'login' %}"><i class="fa fa-commenting-o"></i> Login</a>
        {% endif %}
    </header>
    <div class="video-list">
        {% for i in videos %}
        <div class="video-item">
            <img src="{{ i.preview.url }}" alt="">
            <h2><a href="{% url 'video_detail' i.id %}">{{ i.video_title }}</a></h2>
            <p>Uploaded by {{ i.user.username }} on {{ i.created_at }}</p>
        </div>
        {% endfor %}
    </div>
    <script src="{% static 'script.js' %}"></script>
</body>
</html>
